html, body, h4 {
  height: 100%;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color:#dbdbdb;
}
#home {
  background: url(images/PossibleBack.JPG);
  background-repeat: no-repeat;
  background-size: 100% 200%;
	text-align: center;
  height: 100%;
  min-height: 600px;
}
h1 {
  margin-top: 0;
  padding-top: 200px;
  margin-bottom: 50px;
  font-size: 50px;
}
.navigation {
  z-index: 1;
  text-align: center;
  margin: 0;
	overflow: hidden;
	background-color: black;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
.navigation a {
  color: white;
	text-align: center;
	padding: 15px 20px;
  display: inline-block;
	text-decoration: none;
	font-size: 20px;
}
.social {
  text-align: center;
  display: inline-block;
  padding: 0;
  scale: 1.2;
}
#about {
  text-align: center;
  height: 800px;
  background-color: #c2c2c2;
}
h4 {
  padding: 100px;
}
